<h2>Production Statistics</h2>
<hr>
<div class="row">
  <div class="col-2 text-center">
    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t" [minDate]="minDate"
                    [maxDate]="maxDate" outsideDays="hidden" [showWeekNumbers]="true"/>

    <ng-template #t let-date let-focused="focused">
	<span
    class="custom-day"
    [class.focused]="focused"
    [class.range]="isRange(date)"
    [class.faded]="isHovered(date) || isInside(date)"
    (mouseenter)="hoveredDate = date"
    (mouseleave)="hoveredDate = null"
  >
		{{ date.day }}
	</span>
    </ng-template>

    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" (click)="choosePeriod()">Show Stats</button>
    </div>

  </div>

  <div class="col-10">
    <div class="chart-container">
      <ng-container *ngIf="ready">
        <button type="button" class="btn btn-light" *ngIf="!topLevel" (click)="goBack()">Go back</button>
        <h3>
          Period: {{startDate | date:'dd/MM/yy'}} {{endDate !== startDate ? 'to ' + (endDate | date:'dd/MM/yy') : ''}}</h3>
      </ng-container>
        <app-bar-chart #chart (barClicked)="getDataFor($event)"></app-bar-chart>
    </div>
  </div>
</div>

