<h2>Pack</h2>
<hr>
<div class="row">
<div class="col-12 d-flex justify-content-end">
  <form>
    <button class="btn btn-primary justify" (click)="openModal(modal)">New Pack</button>
  </form>
</div>
</div>
<div class="row">
  <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
    <table class="table table-hover">
      <thead>
      <tr class="table-dark">
        <th scope="col" rowspan="2"><button class="btn btn-outline-success" type="button" (click)="onCreatePacket()" [disabled]="createPacketFormArray.controls.length === 0">Choose<br>&<br>Pack</button></th>
        <th scope="col">
          <select class="form-select-sm" formControlName="clientId">
            <option [value]=null>All</option>
            <ng-container *ngFor="let client of clientsPresent">
              <option value="{{client.id}}">{{client.name}}</option>
            </ng-container>
          </select>
        </th>
        <th scope="col">
          <select class="form-select-sm" formControlName="productFamilyId">
            <option [value]=null>All</option>
            <ng-container *ngFor="let family of productFamiliesPresent">
              <option value="{{family.id}}">{{family.name}}</option>
            </ng-container>
          </select>
        </th>
        <th scope="col">
          <input class="form-control form-control-sm" type="text" formControlName="productVariantCode">
        </th>
        <th scope="col">
          <input class="form-control form-control-sm" type="date" formControlName="orderDate">
        </th>
        <th scope="col">
          <input class="form-control form-control-sm" type="date" formControlName="deliveryDate">
        </th>
        <th scope="col">
          <button class="btn btn-primary" type="submit">Apply</button>
        </th>
      </tr>
      <tr class="table-dark">
        <th scope="col">Client</th>
        <th scope="col">Product Family</th>
        <th scope="col">Product Variant</th>
        <th scope="col">Order Date</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Scan Code</th>
      </tr>
      </thead>
      <tbody *ngIf="!loading; else placeholder">
      <tr *ngFor="let product of products">
        <td><input class="form-check-input" id="flexCheckDefault" type="checkbox" (change)="onCheckBoxChange($event, product.id)"></td>
        <td>{{product.order.client.name}}</td>
        <td>{{product.variant.productFamily.name}}</td>
        <td>{{product.variant.code}}</td>
        <td>{{product.order.createdDate | date: 'dd/MM/yy'}}</td>
        <td>{{product.order.plannedDeliveryDate | date: 'dd/MM/yy'}}</td>
        <td>{{product.order.code}}/{{product.code}}</td>
      </tr>
      </tbody>
    </table>
  </form>

  <ng-template #placeholder>
    <tbody>
    <tr *ngFor="let p of products">
      <td colspan="7"><span class="placeholder col-12"></span></td>
    </tr>
    </tbody>
  </ng-template>

  <ngb-pagination
    class="d-flex justify-content-center"
    [collectionSize]="collectionSize"
    [maxSize]="maxSize"
    [(page)]="page"
    [pageSize]="pageSize"
    [rotate]="rotate"
    (pageChange)="pageChanged($event)"
  ></ngb-pagination>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Scan Products</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <input type="text" class="form-control" [(ngModel)]="modalInput" (input)="checkInput()">
    </div>
    <hr>
    <div>
      <ng-container *ngFor="let product of createPacketFormArray.controls; index as i">
        <p style="display: inline-block">
          <span class="badge text-bg-danger">{{product.value.code}}
            <button type="button" class="btn btn-danger" (click)="createPacketFormArray.removeAt(i)">x</button>
          </span>
        </p>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onCreatePacket(modal)" [disabled]="createPacketFormArray.controls.length < 1">Create</button>
  </div>
</ng-template>
