<nav class="navbar navbar-expand-lg bg-dark-subtle">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/images/gear.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Δelta
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/planning" routerLinkActive="active">Planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/production" routerLinkActive="active">Production</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/cut" routerLinkActive="active">Cut Plates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/bend" routerLinkActive="active">Bend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/combine" routerLinkActive="active">Combine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/weld" routerLinkActive="active">Weld</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/assemble" routerLinkActive="active">Assemble</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/finish" routerLinkActive="active">Finish</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/pack" routerLinkActive="active">Pack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/manufacture/ship" routerLinkActive="active">Ship</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Management
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/management/clients">Clients</a></li>
            <li><a class="dropdown-item" routerLink="/management/orders">Orders</a></li>
            <li><a class="dropdown-item" routerLink="/management/product-variants">Products</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/management/users">Users</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Statistics
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/stats/production">Production</a></li>
            <li><a class="dropdown-item">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="form">
        <button class="btn btn-outline-danger" type="button" (click)="onLogout()">Logout</button>
      </form>
    </div>
  </div>
</nav>
