<h2>Clients</h2>
<hr>
<div class="text-end">
  <button class="btn btn-primary" type="button" (click)="createClient(modal)">Create Client</button>
</div>
<table class="table table-striped" *ngIf="!pageLoading; else loading">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Discount %</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients" (click)="getClient(client.id, modal)" style="cursor: pointer">
    <th scope="row">{{client.id}}</th>
    <td>{{client.name}} {{client.companyType}}</td>
    <td>{{client.address.street}} {{client.address.number}}, {{client.address.cp}} {{client.address.city}}
      , {{client.address.country}}</td>
    <td>{{client.discountPercentage}}</td>
  </tr>
  </tbody>
</table>

<ng-template #loading>
  <table class="table table-striped placeholder-glow">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Discount %</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients">
      <th colspan="4"><span class="placeholder col-12"></span></th>
    </tr>
    </tbody>
  </table>
</ng-template>


  <ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{create ? "Create" : "Update"}} Client</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <form [formGroup]="clientForm">
            <div class="mb-3 row">
              <div class="col-6">
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" formControlName="companyType" placeholder="Type">
              </div>
              <div class="col-3">
                <input type="number" class="form-control" formControlName="discountPercentage" placeholder="Discount">
              </div>
              <br><br>
              <div formGroupName="address">
                <div class="mb-3 row">
                  <div class="col-6">
                    <input type="text" class="form-control" formControlName="street" placeholder="Street">
                  </div>
                  <div class="col-3">
                    <input type="text" class="form-control" formControlName="number" placeholder="No">
                  </div>
                  <div class="col-3">
                    <input type="text" class="form-control" formControlName="cp" placeholder="CP">
                  </div>
                </div>
                <div class="mb-3 row">
                  <div class="col-6">
                    <input type="text" class="form-control" formControlName="city" placeholder="City">
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" formControlName="country" placeholder="Country">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="saveClient(modal)"  *ngIf="!clientSaving; else saving">{{create ? 'Create' : 'Update'}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteClient(modal)"  *ngIf="!create">Delete</button>
      <ng-template #saving>
        <button class="btn btn-warning" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
          <span role="status">Please Wait...</span>
        </button>
      </ng-template>
    </div>
  </ng-template>



