<h4>Components</h4>
<hr>
<form [formGroup]="filterForm">
  <div class="row">
    <div class="col-4">
      <div class="input-group mb-3">
        <button class="btn btn-success btn" (click)="applyFilter()">Filter</button>
        <button class="btn btn-secondary btn" (click)="reset()">Reset</button>
        <button class="btn btn-primary btn" (click)="open(modal)">Create</button>
      </div>
    </div>
    <div class="col-8">
      <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" formControlName="name">
        <span class="input-group-text">Price</span>
        <input type="number" class="form-control" formControlName="price">
      </div>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-4">
      <select class="form-select" size="10">
        <ng-container *ngFor="let component of filteredComponents">
          <option [value]="component.id" (click)="selectComponent(component)">{{component.name}}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-8">
      <div class="input-group mb-3">
        <span class="input-group-text">Type</span>
        <select class="form-select" formControlName="type">
          <ng-container *ngFor="let type of types">
            <option [value]="type.id">{{type.name}}[{{type.material}}]</option>
          </ng-container>
        </select>
        <span class="input-group-text">Thickness [<sup>mm</sup>&frasl;<sub>10</sub>]</span>
        <input type="number" class="form-control" formControlName="thickness">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Length [mm]</span>
        <input type="number" class="form-control" formControlName="length">
        <span class="input-group-text">Width [mm]</span>
        <input type="number" class="form-control" formControlName="width">
      </div>
      <div class="row text-center">
        <button class="btn btn-lg btn-primary" (click)="addToProduct()">Add To Product</button>
      </div>
    </div>
  </div>
</form>


<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Component</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <form [formGroup]="createForm" (ngSubmit)="create(modal)">
    <div class="modal-body">
      <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" formControlName="name">
        <span class="input-group-text">Price</span>
        <input type="number" class="form-control" formControlName="price">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Type</span>
        <ng-container formGroupName="type">
        <select class="form-select w-25" formControlName="id">
          <ng-container *ngFor="let type of types">
            <option [value]="type.id">{{type.name}}[{{type.material}}]</option>
          </ng-container>
        </select>
        </ng-container>
        <span class="input-group-text">Thickness [<sup>mm</sup>&frasl;<sub>10</sub>]</span>
        <input type="number" class="form-control" formControlName="thickness">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Length [mm]</span>
        <input type="number" class="form-control" formControlName="length">
        <span class="input-group-text">Width [mm]</span>
        <input type="number" class="form-control" formControlName="width">
      </div>
      <div class="input-group mb-3">

      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success" [disabled]="createForm.invalid">Save</button>
    </div>
  </form>
</ng-template>
