@if (message) {
  <ngb-alert #selfClosingAlert [type]="alertType" (closed)="message = ''">{{ message }}</ngb-alert>
}
<form [formGroup]="productVariantForm">
  <div class="row">
    <div class="col-5">
      <app-product-family (productFamilyIdEmitter)="setFamily($event)" (errorEmitter)="showMessage($event.message,$event.type)"></app-product-family>
      <app-component (componentEmitter)="addComponent($event)" (errorEmitter)="showMessage($event.message,$event.type)"></app-component>
    </div>
    <div class="col-7">
      <h4>New Product Variant</h4>
      <hr>
      <div class="input-group mb-3">
        <span class="input-group-text">Material</span>
        <select class="form-select" formControlName="material">
          <option value="T304">{{Material.T304}}</option>
          <option value="T430">{{Material.T430}}</option>
          <option value="OTHER">{{Material.OTHER}}</option>
        </select>
        <ng-template #infoVariantIdentifier>
          <p>Alignment<br>
            C: central, L: Left, R: Right
          </p>
          <p>
            Sub tablets<br>
            NST: No, 1ST: 1, 2ST: 2
          </p>
          <p>
            Washtable<br>
            S: Single, D: Double
          </p>
        </ng-template>
        <span class="input-group-text" [ngbTooltip]="infoVariantIdentifier">Variant Identifier</span>
        <input type="text" class="form-control" formControlName="variantIdentifier">
        <span class="input-group-text">Price</span>
        <input type="number" class="form-control" formControlName="price">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">L [mm]</span>
        <input type="number" class="form-control" formControlName="length">
        <span class="input-group-text">W [mm]</span>
        <input type="number" class="form-control" formControlName="width">
        <span class="input-group-text">H [mm]</span>
        <input type="number" class="form-control" formControlName="height">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                  formControlName="description"></textarea>
      </div>
      <h6>Components</h6><span>  Total Cost : {{totalCost | currency: 'EUR'}}</span>
      <hr>
      <ng-container formArrayName="components">
        <ng-container *ngFor="let componentLine of componentsFormArray.controls; let i = index">
          <form [formGroup]="getFormArrayControl(componentLine)">
            <div class="input-group mb-3">
              <input type="text" class="form-control"
                     [value]=
                       "
                       '[' + (componentLine.get('component')?.value).type.material + ']' +
                        (componentLine.get('component')?.value).name +
                  '(' + (componentLine.get('component')?.value).length + 'x'
                      + (componentLine.get('component')?.value).width + 'x'
                      + (componentLine.get('component')?.value).thickness + ')'
" disabled>
              <span class="input-group-text">Qty</span>
              <input type="number" class="form-control" formControlName="quantity" (change)="calculateCost()">
              <button class="btn btn-outline-danger" (click)="removeComponent(i)">x</button>
            </div>
          </form>
        </ng-container>
      </ng-container>


      <div class="row">
        <div class="col-12 text-end">
          <button class="btn btn-lg btn-outline-success" [disabled]="productVariantForm.invalid" (click)="create()">
            Create
          </button>
        </div>
      </div>


    </div>

  </div>


</form>
