<h2>Start Production</h2>
<hr>
<div>
  <form [formGroup]="filterForm" (ngSubmit)="onPutBatchInProduction()">
    <table class="table table-hover">
      <thead>
      <tr class="table-dark">
        <th scope="col"><button class="btn btn-outline-success" type="submit">Create</button></th>
        <th scope="col">Client</th>
        <th scope="col">Product Family</th>
        <th scope="col">Product Variant</th>
        <th scope="col">Order Date</th>
        <th scope="col">Delivery Date</th>
        <th scope="col"></th>
      </tr>
      <tr class="table-dark">
        <th scope="col">
          Batch
        </th>
        <th scope="col">
          <select class="form-select-sm" formControlName="clientId">
            <option selected>All</option>
            <ng-container *ngFor="let client of clientsPresent">
              <option value="{{client.id}}">{{client.name}}</option>
            </ng-container>
          </select>
        </th>
        <th scope="col">
          <select class="form-select-sm" formControlName="productFamilyId">
            <option [value]=null selected>All</option>
            <ng-container *ngFor="let family of productFamiliesPresent">
              <option value="{{family.id}}">{{family.name}}</option>
            </ng-container>
          </select>
        </th>
        <th scope="col">
          <input class="form-control form-control-sm" type="text" formControlName="productVariantCode">
        </th>
        <th scope="col">
          <input class="form-control form-control-sm" type="date" formControlName="orderDate">
        </th>
        <th scope="col">
          <input class="form-control form-control-sm" type="date" formControlName="deliveryDate">
        </th>
        <th scope="col">
          <button class="btn btn-primary" type="button" (click)="onFilter()">Apply</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td><input class="form-check-input" id="flexCheckDefault" type="checkbox" (change)="onCheckBoxChange($event, product.id)"></td>
        <td>{{product.order.client.name}}</td>
        <td>{{product.variant.productFamily.name}}</td>
        <td>{{product.variant.code}}</td>
        <td>{{product.order.createdDate | date: 'shortDate'}}</td>
        <td>{{product.order.plannedDeliveryDate | date: 'shortDate'}}</td>
        <td>{{product.id}}</td>
      </tr>
      </tbody>
    </table>
  </form>
  <nav class="sticky-bottom">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" style="cursor: pointer" (click)="goToPreviousPage()">Previous</a></li>
      <ng-container *ngFor="let page of pagesNav">
        <li class="page-item"><a class="page-link" style="cursor: pointer" (click)="goToPage(page)" [ngClass]="page === currentPage ?'active': ''">{{page}}</a></li>
      </ng-container>
      <li class="page-item"><a class="page-link" style="cursor: pointer" (click)="goToNextPage()">Next</a></li>
    </ul>
  </nav>
</div>
