<h2>Start Production</h2>
<hr>
<div class="row">
    <div class="col-8">
        <label for="client">Client</label>
        <select id="client"></select>
        <label for="productFamily">Product Family</label>
        <select id="productFamily"></select>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <form>
            <button class="btn btn-primary justify">Add To Batch</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Select</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row"><input type="checkbox"></th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
